<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="navbar-brand">
      <a routerLink="" mat-focus-indicator mat-button>
        <img src="../../assets/logo/Loc8r.png" alt="Loc8r logo">
      </a>
    </div>

      <a routerLink="about" routerLinkActive="active" mat-focus-indicator mat-flat-button mat-button color="primary">
        <span class="mat-button-wrapper">About</span>
      </a>

    <span class="nav-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


  <div class="container content">
    <router-outlet></router-outlet>
    <footer>
      <div class="row">
        <mat-grid-list cols="12">
          <small>&copy; Getting Mean - Simon Holmes | Clive Harber 2018</small>
        </mat-grid-list>
      </div>
    </footer>
  </div>
