
<form>
    <div>
        <input type="search" [(ngModel)]="searchText" name="search" id="search">
        <label for="search">Search text</label>
    </div>
</form>
<div class="error">{{message}}</div>
<mat-card class="card" *ngFor="let location of (locations | filter:searchText)">
    <mat-card-header class="card-block">
        <mat-card-title>
            <a routerLink="/location/{{location._id}}">{{location.name}}</a>
            <small>&nbsp;
                <app-rating-stars [rating]="location.rating"></app-rating-stars>
            </small>
        </mat-card-title>
        <mat-chip class="distance"color="warn" selected align="end">{{location.distance | distance}}</mat-chip>
    </mat-card-header>
    <mat-card-content>
        <p class="address">{{location.address}}</p>
    </mat-card-content>
    <mat-card-footer>
        <mat-chip-list class="facilities-list" aria-label="Facilities selection">
            <mat-chip class="facilities" *ngFor="let facility of location.facilities" color="accent" selected>{{facility}}</mat-chip>
        </mat-chip-list>
    </mat-card-footer>
</mat-card>
