<div class="error">{{message}}</div>
<div class="card" *ngFor="let location of locations">
    <div class="card-block">
        <h4>
            <a routerLink="/location/{{location._id}}">{{location.name}}</a>
            <small>&nbsp;
                <app-rating-stars [rating]="location.rating"></app-rating-stars>
            </small>
            <span class="badge badge-pill badge-default float-right">{{location.distance | distance}}</span>
        </h4>
        <p class="address">{{location.address}}</p>
        <div class="facilities">
            <span *ngFor="let facility of location.facilities" class="badge badge-warning">{{facility}}</span>
        </div>
    </div>
</div>
<div class="Youtube" >
    <h1> Youtube Search</h1>
    <input #channelName type="text" placeholder="Youtube Channel ..">
    <br><br>
    <button (click)="getData()">Search channel</button>
    <ul *ngFor="let channel of channels">
      <a target="_blank" href="https://www.youtube.com/channel/{{channel.id.channelId}}">
      <img width="200" height="200" src="{{channel.snippet.thumbnails.medium.url}}" />
      </a>
      {{channel.snippet.channelTitle}}
    </ul>
  </div>
