<br>
<div class="Youtube" >
    <h1> Youtube Search</h1>
    <div class="ytsearchbar">
        <input #channelName type="text" placeholder="Youtube Channel ..">
        <button (click)="getData()">Search channel</button>
    </div>
    <br><br>
    <div class="card" *ngFor="let channel of channels">
      <a target="_blank" href="https://www.youtube.com/channel/{{channel.id.channelId}}">
      <img width="200" height="200" src="{{channel.snippet.thumbnails.medium.url}}" />
      </a>
      {{channel.snippet.channelTitle}}
    </div>
  </div>