<br>

<div class="Youtube" >
    <h1> Youtube Search</h1>
    <div class="ytsearchbar">
        <input #channelName type="text" placeholder="Youtube Channel ..">
        <button (click)="getData()" class="btn-primary">Search channel</button>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4 card card-box cnt-block" *ngFor="let channel of channels">
            <a target="_blank" href="https://www.youtube.com/channel/{{channel.id.channelId}}">
                <figure><img src="{{channel.snippet.thumbnails.medium.url}}" class="img-responsive"/></figure>
            </a>
            <p>{{channel.snippet.channelTitle}}</p>
        </div>
    </div>
  </div>
  