


h1, h2, h3, h4, h5, h6 {
  color: black;
}

legend {
  font-family: 'Lobster', cursive;
}

/* .navbar {
  background-color: #ad1d28;
  border-color: #911821;
} */

.nav-spacer {
  flex: 1 1 auto;
}

.navbar-brand img {
  display: inline-block;
  max-width: 100%;
  width: 100px;
  object-fit: contain;
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svgxml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.card {
  color: rgb(53, 49, 49);
  padding: 1rem;
  max-width: 400px;
}

.mat-card-title a {
  color: black;
}

mat-chip {
  height: 75px;
  width: 75px;
}

.banner {
  margin-top: 4em;
  border-bottom: 1px solid #469ea8;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

.review-header {
  background-color: #31727a;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.review {
  margin-right: -16px;
  margin-left: -16px;
  margin-bottom: 0.5em;
}


h4 a, h4 a:hover {
  color: #fff;
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: #aaa;
}

h1 small {
  color: #aaa;
}

.address {
  margin-bottom: 0.5rem;
}


p {
  margin-bottom: 0.65rem;
}

a {
  color: rgba(255, 255, 255, 0.8)
}

a:hover {
  color:#fff
}

/* body {
  font-family: "Cabin", Arial, sans-serif;
  color: #fff;
  background-color: #108a93;
} */
